{
  "debug": false,
  "storage-driver": "{{ compose_storage_driver | default('overlay2') }}"{% if compose_storage_driver == 'devicemapper' %},
  "storage-opts": [
    "dm.directlvm_device=/dev/{{ docker_dm_device }}",
    "dm.thinp_percent=95",
    "dm.thinp_metapercent=1",
    "dm.thinp_autoextend_threshold=80",
    "dm.thinp_autoextend_percent=20",
    "dm.directlvm_device_force=false"
  ]
{% endif %}
}
