[Unit]
Description=Starts and stops L2J game server
Requires=mysql.service
Wants=l2jls.service
After=l2jls.service mysql.service

[Service]
Type=simple
User=l2j
Group=l2j
WorkingDirectory={{ l2j_server_dir }}/server/game
ExecStart=/bin/bash -c "/usr/bin/java -Dpython.cachedir=../cachedir -Xms1024m -Xmx8192m -jar l2jserver.jar >> /var/log/l2j/l2jgs.log 2>&1"
LimitNOFILE=65535
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
